{% extends 'base.html' %}

{% block content %}
<div class="justify-content-center my-5">
    <div class="card mb-3">
        <div class="card-header">
            <div class="card-title">SeSAC Python Board: 내가 쓴 글 - 총 {{mybbsList|length}}개의 글이 등록되어 있습니다.</div>
        </div>
        <div class="list-group list-group-flush">
            {% if mybbsList|length == 0 %}
            <a href="#" class="list-group-item">등록된 글이 없습니다.</a>
            {% else %}
            {% for bbs in mybbsList %}
            <a href="{{ url_for('bbsView', id=bbs.id) }}" class="list-group-item list-group-item-action">제목:
                {{bbs.title}}
                <br>
                <small class="card-text">작성일자: {{bbs.created_at}}</small>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{{ url_for('bbsWrite') }}" class="btn btn-primary">새 글 쓰기</a>
        </div>
    </div>

    <div class="card mb-3">
        <form action="#" method="POST">
            <div class="card-header">내 정보 변경</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">아이디(Username)</label>
                    <input type="username" id="inputUsername" name="inputUsername" value="{{user.username}}"
                        class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword1" class="form-label">기존 비밀번호(Password) 확인</label>
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="inputNewPassword1" class="form-label">새로운 비밀번호(NewPassword) 입력</label>
                    <input type="password" id="inputNewPassword1" name="inputNewPassword1" class="form-control"
                        required>
                </div>
                <div class="mb-3">
                    <label for="inputNewPassword2" class="form-label">새로운 비밀번호(NewPassword) 확인</label>
                    <input type="password" id="inputNewPassword2" name="inputNewPassword2" class="form-control"
                        required>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">회원 정보 변경</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}