body,
tbody {
    text-align: center;
}

table {
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table > tbody > tr {
    height: 3rem;
}

table > tbody > tr > th {
    width: 14%;
}

.sunday {
    color: red;
    font-weight: 700;
}

.satday {
    color: blue;
    font-weight: 700;
}

.cal-link {
    text-decoration: none;
    color: #aaa;
}
